<button (click)="myFunction()">Try it</button>
<div class='bg-light'>
  <h2>Gallery: {{gallery.name}}</h2>
  <h2>Author: <a routerLink='/authors/{{gallery.user.id}}'>{{gallery.user.first_name}} {{gallery.user.last_name}}</a></h2>
  <div class='bg-success'>
    <p>Created: {{gallery.created_at | date: 'dd.MM.yyyy.'}}</p>
  </div>
  <div class='bg-info'>
    <p>Description</p>
    <p>{{gallery.description}}</p>
</div>
<!-- <img src="{{gallery.images_url}}"> -->
  <h1>Images</h1>
  <div *ngFor='let picture of gallery.picture'>
    <img src="{{picture.images_url}}" width="400px">
  </div>
  

  <h2>Comments List</h2>
  <div *ngFor='let comment of comments'>
    <div class='bg-warning'>
      <h3><a routerLink='/authors/{{comment.user.id}}'>{{comment.user.first_name}} {{comment.user.last_name}}</a></h3>
      <p>Date: {{comment.created_at | date: 'dd.MM.yyyy.'}}</p>
      <p>{{comment.content}}</p>
      <hr>
    </div>

    <button *ngIf="comment.user_id == auth.user.id" type="submit" (click)="deleteComment(comment.id)" class="btn btn-danger">Remove Comment</button>

  </div>

  <h2>Add New Comment</h2>

  <form #commentForm="ngForm" (ngSubmit)="addComment(comment);commentForm.reset()"> 
    <div class="form-group">
      <textarea [(ngModel)]="comment.content" name="content" cols="70" rows="10" required minlength="1" maxlength="1000"></textarea>
    </div>
    <button [disabled]="!commentForm.valid" class='btn btn-primary'>Add Comment</button>
  </form>
</div>
