<div *ngFor='let gallery of galleries' >
  <div class='bg-light'>
      <h2><a routerLink='/galleries/{{gallery.id}}'>Gallery: {{gallery.name}}</a></h2>
      <h2>Author: <a routerLink='/authors/{{gallery.user.id}}'>{{gallery.user.first_name}} {{gallery.user.last_name}}</a></h2>
      <p>Description</p>
      <p class='col-6'>{{gallery.description}}</p>
    
      <h1>Images</h1>
      <div *ngFor='let picture of gallery.picture'>
        <img src="{{picture.images_url}}" width="500px">
      </div>
    
      <h2>Comments List</h2>
      
      <!-- <div *ngFor='let comment of comments'>
        {{comment->content}}
      </div>
    
      <button class='btn btn-primary'>Add Comment</button>
    </div> -->
    <hr>
  </div>

